@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #eeeeee; */
  background: #ffffff;
}

.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 41.15%, rgba(0, 0, 0, 0.90) 100%), url(/banner-desktop.webp), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.schedule {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(/local-dia.webp), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

@media (min-width: 1920px) {
  .banner {
    background-position: 0% 35%;
  }
}
